<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Weather</title>
</head>
<body>

    <div class="container">

        <div class="search-menu">
            <form action="/" method="post">
                <input class="city-name" type="text" name="countryName" placeholder="Enter a Country name" autocomplete="off">
                <input class="btn" type="submit" value="Search">
            </form>
        </div>
        
        <div class="details">
            <h1 class="country-name"><%= countryesName %></h1>
            <p class="main"><%= main %></p>
            <p class="description"><%= description %></p>
            <img src="<%= icon %>" alt="weather icon">
            <h2 class="temp"><%= temp %> °</h2>

            <div class="temp-details">
                <div class="min">
                    <p>min</p>
                    <p><%= temp_min %>°</p>
                </div>
                <i class="fa-solid fa-grip-lines-vertical" style="color: hsl(0, 0%, 80%);"></i>
                <div class="max">
                    <p>max</p>
                    <p><%= temp_max %>°</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h6>©nabid.</h6>
    </footer>

</body>
</html>